version: '3.8'

services:
 backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - praychain-network
    env_file:
      - ./backend/.env
    restart: unless-stopped

networks:
  praychain-network:
    driver: bridge